@model USERS

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="bg-dark" style="background-color: #051224;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h4 class="text-dark text-center my-4">Admin Dashboard</h4>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <p class="text-dark">Admin</p>
    <h1 class="text-dark">All Users</h1>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <h3>@ViewBag.count user(s)</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    @if (User.IsInRole("Super_Admin"))
                    {
                        <th>Edit</th>
                        <th>Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.RoleName</td>
                        @if (User.IsInRole("Super_Admin"))
                        {
                            <td>
                                <form method="post" asp-action="Edit" asp-controller="AdminUsers" asp-route-Id="@user.Id">
                                    <button class="btn btn-primary" type="submit">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form method="post" asp-action="Delete" asp-controller="AdminUsers" asp-route-Id="@user.Id">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Users Found!</p>
    }
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
