@model Fruitway_Store.Models.Entities.Product




<div class="bg-dark" style=" background-color: #051224;">
	<div class="container">
		<div class="row">
			<div>
				<div class="col-lg-8 offset-lg-2 text-center">
					<p class="text-dark"> </p>
					<h4 class="text-dark text-center my-4">j</h4>
					<br />

				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div class class=" text-center">
		<p class="text-dark text-center "> </p>
		<h1 class="text-dark text-center ">About @Model.Name</h1>

	</div>
</div>
<!-- end breadcrumb section -->
<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="@Model.ImageUrl" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>@Model.Name</h3>
					<p class="single-product-pricing"><span>Per Kg</span> @Model.Price</p>
					<p>@Model.Detail</p>
					<div class="single-product-form">
						<form action="index.html">
							<input type="number" placeholder="0">
						</form>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						<p><strong>Categories: </strong>Fruits, Organic</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single product -->
